
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/require")
<body class="hold-transition skin-blue sidebar-mini">
    @RenderBody()
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/AdminLTE")
@RenderSection("scripts", required: false)






