<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Angular/js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminLTE")
    @RenderSection("scripts", required: false)

</head>
<body ng-app="app">
    @Html.Partial("_Header")
    <div class="containerr">
        <header class="top-header">
            <div class="site-header">
                @Html.Partial("_Category")
            </div>
        </header>
        <div id="homepage">
            @RenderBody()
        </div>
        @Html.Partial("_Footer")
    </div>

</body>
</html>