@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/require")
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
<script src="https://cdn.ckeditor.com/4.5.11/full/ckeditor.js"></script>
<body class="hold-transition skin-blue sidebar-mini">
    @RenderBody()
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/AdminLTE")
@RenderSection("scripts", required: false)